$primary-color: #FF8400;
$darken-color: #cf6d04;
$dark-color: #333;
@media (min-width: 1201px) {
  div.content{
    width:100%;
    height:100vh;
    padding:0;
    margin:0;  
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header"
      "results"
      "results"
      "results"
      "results"
      "results"; 
    header.header{
      grid-area: header;
      position:fixed;
      border-bottom: 5px solid $dark-color;
      background-color:$primary-color;
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      grid-template-rows: 1fr; 
      gap: 0px 0px; 
      width:100%;
      grid-template-areas: 
        "col-title col-searcher col-searcher col-searcher"; 
      .col-title{
        grid-area:col-title;
        display:flex;
        flex-flow:column;
        justify-content: center;
        align-items: center;
        h1{        
          font-size:40px;
          text-align: center;
          font-family: Lato, sans-serif;
          font-weight: lighter;
          color:white;
          text-shadow:1px 2px 2px $dark-color;
          margin:0;
          padding:0;
        }
      }
      .col-searcher{
        grid-area:col-searcher;
        input.searcher{
          box-sizing: border-box;
          margin:40px;
          padding:12px;
          font-size:22px;
          border-radius:25px;
          width:95%;
          box-shadow: none;
          border:3px solid #fff;
          transition: all 0.3s ease-in;
        }
        input.searcher:focus{
          outline-width: 0;
          border:3px solid $darken-color;
        }
      }   
    }
    main.results{
      overflow-y:scroll;
      grid-area: results;
      width:100%;
      height:100%;
      display:flex;
      flex-flow:column;
      justify-content:flex-start;
      align-items: center;
      .loading-container{     
        display:flex;
        flex-flow:row;
        width:25%;
        height:50%;
        justify-content: center;
        align-items: center;
        .loading-gif{
          width:50%;
        }
      }
      .no-results{
        display:flex;
        flex-flow:row;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        h2{
          font-family: Lato, sans-serif;
          font-size:19px;
          .search-string{
            font-weight: bold;
            text-decoration:underline;
            color:$darken-color;
          }
        }
      }
      .beers-container{
        padding:10px 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        margin-bottom:25px;
        .card{
          padding:15px;
          border:2px solid $primary-color;
          box-shadow:0 3px 10px rgb(87, 87, 87);
          transition: all 0.3s ease;
          border-radius:8px;    
        }
        .card:hover{
          box-shadow:none;
          border-color: $dark-color;
        }
        .beer{
          font-family: Lato, sans-serif;
          height:300px;
          display: grid; 
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
          gap: 5px; 
          grid-template-areas: 
          "beer-image beer-title beer-title beer-title beer-title beer-title beer-title"
          "beer-image beer-title beer-title beer-title beer-title beer-title beer-title"
          "beer-image beer-ph beer-ph beer-ph beer-brewed beer-brewed beer-brewed"
          "beer-image beer-ph beer-ph beer-ph beer-brewed beer-brewed beer-brewed"
          "beer-description beer-description beer-description beer-description beer-description beer-description beer-description"
          "beer-description beer-description beer-description beer-description beer-description beer-description beer-description"
          "beer-description beer-description beer-description beer-description beer-description beer-description beer-description"
          "beer-total-ingredients beer-total-ingredients beer-total-ingredients beer-total-ingredients beer-fermentation-temp beer-fermentation-temp beer-fermentation-temp";         
          .beer-image { 
            grid-area: beer-image;
            img{
              width:100%;
              height:100px;
              object-fit: contain;
            }
          }
          .beer-title { 
            grid-area: beer-title;
            h2{
              font-size:20px;
              text-align:right;
            }
          }
          .beer-ph { grid-area: beer-ph; }
          .beer-brewed { grid-area: beer-brewed; }
          .beer-description { grid-area: beer-description; }
          .beer-total-ingredients { grid-area: beer-total-ingredients; }
          .beer-fermentation-temp { grid-area: beer-fermentation-temp; }
        }
      }
    }  
  } 
}
@media (max-width: 1200px) {
  div.content{
    width:100%;
    height:100vh;
    padding:0;
    margin:0;  
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header"
      "results"
      "results"
      "results"
      "results"
      "results"; 
    header.header{
      grid-area: header;
      position:fixed;
      border-bottom: 5px solid $dark-color;
      background-color:$primary-color;
      display: grid; 
      grid-template-columns: 1fr ; 
      grid-template-rows: 2fr; 
      gap: 0px 0px; 
      width:100%;
      grid-template-areas: 
        "col-title"
        "col-searcher"; 
      .col-title{
        grid-area:col-title;
        display:flex;
        flex-flow:column;
        justify-content: center;
        align-items: center;
        h1{        
          font-size:25px;
          text-align: center;
          font-family: Lato, sans-serif;
          font-weight: lighter;
          color:white;
          text-shadow:1px 2px 2px $dark-color;
          margin:0;
          padding:0;
        }
      }
      .col-searcher{
        grid-area:col-searcher;
        input.searcher{
          box-sizing: border-box;
          margin:20px;
          padding:6px;
          font-size:16px;
          border-radius:18px;
          width:95%;
          box-shadow: none;
          border:3px solid #fff;
          transition: all 0.3s ease-in;
        }
        input.searcher:focus{
          outline-width: 0;
          border:3px solid $darken-color;
        }
      }   
    }
    main.results{
      overflow-y:scroll;
      grid-area: results;
      margin-top:-35px;
      width:100%;
      height:100%;
      display:flex;
      flex-flow:column;
      justify-content:flex-start;
      align-items: center;
      .loading-container{     
        display:flex;
        flex-flow:row;
        width:25%;
        height:50%;
        justify-content: center;
        align-items: center;
        .loading-gif{
          width:50%;
        }
      }
      .no-results{
        display:flex;
        flex-flow:row;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        h2{
          font-family: Lato, sans-serif;
          font-size:19px;
          .search-string{
            font-weight: bold;
            text-decoration:underline;
            color:$darken-color;
          }
        }
      }
      .beers-container{
        padding:5px 15px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        margin-bottom:25px;
        .card{
          padding:8px;
          border:2px solid $primary-color;
          box-shadow:0 2px 5px rgb(87, 87, 87);
          transition: all 0.3s ease;
          border-radius:4px;    
        }
        .card:first-child{
          margin-top:10px;
        }
        .card:hover{
          box-shadow:none;
          border-color: $dark-color;
        }
        .beer{
          font-family: Lato, sans-serif;
          height:300px;
          display: grid; 
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
          gap: 3px; 
          grid-template-areas: 
          "beer-image beer-title beer-title beer-title beer-title beer-title beer-title"
          "beer-image beer-title beer-title beer-title beer-title beer-title beer-title"
          "beer-image beer-ph beer-ph beer-ph beer-brewed beer-brewed beer-brewed"
          "beer-image beer-ph beer-ph beer-ph beer-brewed beer-brewed beer-brewed"
          "beer-description beer-description beer-description beer-description beer-description beer-description beer-description"
          "beer-description beer-description beer-description beer-description beer-description beer-description beer-description"
          "beer-description beer-description beer-description beer-description beer-description beer-description beer-description"
          "beer-total-ingredients beer-total-ingredients beer-total-ingredients beer-total-ingredients beer-fermentation-temp beer-fermentation-temp beer-fermentation-temp";         
          .beer-image { 
            grid-area: beer-image;
            img{
              width:100%;
              height:100px;
              object-fit: contain;
            }
          }
          .beer-title { 
            grid-area: beer-title;
            h2{
              font-size:20px;
              text-align:right;
            }
          }
          .beer-ph { grid-area: beer-ph; }
          .beer-brewed { grid-area: beer-brewed; }
          .beer-description { grid-area: beer-description; }
          .beer-total-ingredients { grid-area: beer-total-ingredients; }
          .beer-fermentation-temp { grid-area: beer-fermentation-temp; }
        }
      }
    }  
  } 
}