<div class="content">

  <header class="header">
    <div class="col col-title">
      <h1>Food Advisor</h1>
    </div>

    <div class="col col-searcher">
      <input type="text" class="searcher" placeholder="Search food..." #searchInput>
    </div>
  </header>

  <main class="results" *ngIf="searchString.length > 0">
    <div class="loading-container" *ngIf="loading">
      <img src="https://media.tenor.com/images/a2b33197c7019aa1e8b73ffc96c06989/tenor.gif" class="loading-gif" />
    </div>

    <div class="no-results" *ngIf="results.length === 0 && !loading">
      <h2 class="no-results">Uppsss, try with other search, no results for <span class="search-string">{{ searchString }}</span></h2>
    </div>

    <div class="beers-container" *ngIf="results.length > 0 && !loading">
      <div class="card beer" *ngFor="let result of results">
        <div class="beer-image"><img [src]="result.image_url" [alt]="result.name" /></div>
        <div class="beer-title">
          <h2>{{ result.name }}</h2>
        </div>
        <div class="beer-ph"><strong>PH</strong> {{ result.ph }}</div>
        <div class="beer-brewed"><small>First brewed</small><br>{{ result.first_brewed }}</div>
        <div class="beer-description">  {{ (result.description.length > truncateSize) ? (result.description | slice:0:truncateSize)+'...':(result.description) }}</div>
        <div class="beer-total-ingredients"></div>
        <div class="beer-fermentation-temp"><b>Estimated cooking time:</b> 70min</div>
      </div>
    </div>
  </main>

</div>
