/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$primary-color: #FF8400;
$darken-color: #FF8400;
$dark-color: #333;

body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow-x:hidden;
  app-root{
    margin:0;
    padding:0;
  }
}
